@tailwind base;
@tailwind components;
@tailwind utilities;

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//colors
$color_governor_bay_approx: rgba(57,49,175,1);
$color_bright_turquoise_approx: rgba(0,198,255,1);
$white: #fff;
$color_alabaster_approx: #f8f9fa;
$color_ship_gray_approx: #383d41;
$color_science_blue_approx: #0062cc;
$color_abbey_approx: #495057;

// Sass register start

.register {
    background: linear-gradient(to right, $color_governor_bay_approx 0, $color_bright_turquoise_approx 100%);
    margin-top: 3%;
    padding: 3%;
    overflow: hidden;
    .register-form {
        padding: 10%;
        margin-top: 10%;
        @media (max-width: 991px){
            margin-top: 16%;
        }
        @media (max-width: 667px){
            margin-top: 20%;
        }
    }
    .nav-tabs {
        margin-top: 3%;
        border: none;
        background: $color_science_blue_approx;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 1.5rem;
        width: 28%;
        float: right;
        @media (max-width: 991px){
            width: 33%;
            margin-top: 8%;
        }
        .nav-link {
            padding: 2%;
            height: 34px;
            font-weight: 600;
            color: $white;
            //Instead of the line below you could use @include border-top-right-radius($radius)
            border-top-right-radius: 1.5rem;
            //Instead of the line below you could use @include border-bottom-right-radius($radius)
            border-bottom-right-radius: 1.5rem;
            &:hover {
                border: none;
            }
            &.active {
                width: 100px;
                color: $color_science_blue_approx;
                border: 2px solid $color_science_blue_approx;
                //Instead of the line below you could use @include border-top-left-radius($radius)
                border-top-left-radius: 1.5rem;
                //Instead of the line below you could use @include border-bottom-left-radius($radius)
                border-bottom-left-radius: 1.5rem;
            }
        }
    }
}
.register-left {
    text-align: center;
    color: $white;
    margin-top: 4%;
    input {
        border: none;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 1.5rem;
        padding: 2%;
        width: 60%;
        background: $color_alabaster_approx;
        font-weight: bold;
        color: $color_ship_gray_approx;
        margin-top: 30%;
        margin-bottom: 3%;
        cursor: pointer;
    }
    img {
        margin-top: 15%;
        margin-bottom: 5%;
        width: 25%;
        animation: mover 1s infinite alternate;
    }
    p {
        font-weight: lighter;
        padding: 12%;
        margin-top: -9%;
    }
}
.register-right {
    background: $color_alabaster_approx;
    //Instead of the line below you could use @include border-top-left-radius($radius)
    border-top-left-radius: 10% 50%;
    //Instead of the line below you could use @include border-bottom-left-radius($radius)
    border-bottom-left-radius: 10% 50%;
}

.btnRegister {
    float: right;
    margin-top: 10%;
    border: none;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 1.5rem;
    padding: 2%;
    background: $color_science_blue_approx;
    color: $white;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: $color_abbey_approx;
    @media (max-width: 991px){
        font-size: 1.5rem;
    }
}

// Sass register end

// Sass login start
.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}
// Sass login end
